.nav-bar{
    width: 100%;
    height: 3.8rem;
    display: flex;
    padding: 0.5rem 2rem;
    background: #5b1d1d;
    justify-content: space-between;

}

/* nav-detail class left side */
.nav-detail{
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.nav-name{
    font-size: 1.2rem;
    color: white;
}
.nav-img{
    height: 100%;
    width: 50px;
    border-radius: 0.3rem;

}
.nav-img img{
    width: 100%;
    height: 100%;
}

/* nav-links class */
.nav-links{
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}
.nav-links a{
  /* Border radius for w3rcontainer */
  text-decoration: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  display: inline-block; 
  position: relative; 
  color:lightcoral;
  padding: 0.4rem 0;
 } 
 
 
 
 .nav-links a:after {
   content: '';
   position: absolute; 
   width: 100%; 
   transform: scaleX(0); 
   height: 3px; 
   bottom: 0;
   left: 0; 
   background-color:white;
   transform-origin: bottom right; 
   transition: transform 0.4s ease-out; 
 }
 
 .nav-links a:hover:after {
   transform: scaleX(1); 
   transform-origin: bottom left;
 }
 .nav-links a.active{
    color: white;
    /* transform: scaleX(1);
    transform-origin: bottom left; */
 }






 
 .nav-tog {
    float: right;
    font-size: 1.4rem;
    line-height: 1.8;
    padding: 12px 14px;

    cursor: pointer;
    color: black;
}

.nav-tog a {
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.8;
    padding: 12px 14px;
    
    cursor: pointer;
    color: black;
}


.nav-tog a:hover {
    background: #928f8f86;
}


.nav-btn{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.nav-btn .navBtnImg{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .6s linear;
    transform: scale(0.9);
    animation: scale 1s 1s forwards infinite;
    
   
}
@keyframes scale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}









.nav-side {
    width: 250px;
    height: 755px;
    z-index: 5;
    position: absolute;
    top: 3.4rem;
    left: 0;
    position: fixed;
    background: linear-gradient(140deg,#3d0602,#440b16);
    
    animation: slide 0.8s;
    animation-delay: 0s;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    display: none;
    animation-fill-mode: both;



}

@keyframes slide {
    0% {
        left: -250px;
        opacity: 0;
    }
    50%{
    
        opacity: 0.6;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}
.nav-side a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.6rem;
    text-align: center;
}




@media only screen and (max-width: 600px) {
    html{
        font-size: 8px;
    }
  
  
  }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and  (max-width:768px) and (min-width:200px) {
        .nav-btn{
            display: flex;
        }
       .nav-links{
        display: none;
       }
       .nav-side{
        display: block;
       }
       
    
    
    
    }
    





 