.eventsPage{
    width:100%;
    min-height: calc(100vh - 3.4rem);
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;

}
.eventsPage .eventPageCon1{
    width: 100%;
    height: 60vh;
    background-image: url('/images/imgSlider1.jpg');
    background-position:center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    font-size: 2.4rem;
    color:rgb(22, 147, 189);
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
.eventConText{
    width: 100%;
    min-height: 8rem;
    max-height: auto;
    background: #44030388;
    padding: .3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.eventConTextH1{
    font-size: 2.8rem;
    font-weight: bolder;
    color:white;
    width: 70%;
    font-family: "Open Sans", sans-serif;
  


}
.eventConTextH2{
    font-size: 2.4rem;
    color: white;
    text-align: justify;
    color:white;
    width: 70%;
    font-family: "Open Sans", sans-serif;
   
}

.eventPageUpcoming{
    width:90%;
    height: 42rem;

}

.upcomingHeading{
    font-size: 2.8rem;
    font-weight: bold;
    color: darkred;
    text-align: left;
    margin: 1.3rem 0;
    font-family: "Open Sans", sans-serif;
}
.upcomingCards{
    display: flex;
    gap: 1.8rem;
    width: 100%;
    height: 90%;
}
 .eventPageCard{
    width: 20rem;
    height: 34rem;
    background: darkred;
    border-radius: 3px;
}

.eventPageCardImg{
    width: 100%;
    height: 40%;
    object-fit: cover;
    background:red;
}

 .eventPageCardText{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 1rem;
    padding:1.3rem;
    flex-direction: column;
    align-items:flex-start;
    font-family: "Roboto", sans-serif;
}

.eventPageCardText .eventPageCardHeading{
    font-size: 1.3rem;
    color: white;
    background:darkgray;
    padding: .4rem .8rem;
    border-radius: 2px;
    display:inline-block;
    font-family: "Roboto", sans-serif;
}
.eventPageCardText .eventPageCardDet{
    font-size: 1.2rem;
    color: lightgray;
    word-spacing: .3rem;
    font-family: "Roboto", sans-serif;
    
}
.eventPageCardDet ol{
    padding: 0 1rem;
}
.eventPageCardText .eventPageCardPoints{
    display: flex;
    gap: .6rem;
    font-size: 1.2rem;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
}
.eventPageCardPointsIcon{
    font-size: 1.5rem;
}
.eventPageCardBtn{
    color: lightgray;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    display: flex;
    gap: .2rem;
    align-items: center;
}



.allEvents{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.allEvents .allEventsHeading{
    font-size: 3.4rem;
    color: darkred;
    text-align: justify;
    width: 100%;
    padding: 1.5rem;
    font-weight:bold;
    font-family: "Roboto", sans-serif;
}


.noDataFound{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto','sans-serif';
    text-align:center;
    width: 100%;
}
.noEventsFoundImg{
    width: 100%;
    height: 100%;
    object-fit:contain;
}




