.eventsPage{
    width:100%;
    min-height: calc(100vh - 3.4rem);
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;

}
.eventsPage .eventPageCon1{
    width: 100%;
    height: 60vh;
    background-image: url('/images/imgSlider1.jpg');
    background-position:center;
    background-size: 100% 100%;
    display: flex;
    align-items:flex-start;
    padding: 3rem;
    font-size: 2.4rem;
    color:rgb(22, 147, 189);
    font-weight: bold;
    font-size: Arial;
}

.eventPageUpcoming{
    width:80%;
    height: 42rem;

}

.upcomingHeading{
    font-size: 2.8rem;
    font-weight: bold;
    color: darkred;
    text-align: left;
    margin: 1.3rem 0;
}
.upcomingCards{
    display: flex;
    gap: 1.8rem;
    width: 100%;
    height: 90%;
}
 .eventPageCard{
    width: 20rem;
    height: 34rem;
    background: darkred;
    border-radius: 3px;
}

.eventPageCardImg{
    width: 100%;
    height: 40%;
    object-fit: cover;
    background:red;
}

 .eventPageCardText{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 1rem;
    padding:1.3rem;
    flex-direction: column;
    align-items:flex-start;
}
.eventPageCardText .eventPageCardHeading{
    font-size: 1.3rem;
    color: white;
    background:darkgray;
    padding: .6rem 1rem;
    border-radius: 2px;
    display:inline-block;
}
.eventPageCardText .eventPageCardDet{
    font-size: 1.2rem;
    color: lightgray;
    word-spacing: .3rem;
}
.eventPageCardText .eventPageCardPoints{
    display: flex;
    gap: .6rem;
    font-size: 1.2rem;
    align-items: center;
    color: white;
}
.eventPageCardPointsIcon{
    font-size: 1.5rem;
}
.eventPageCardBtn{
    color: rgba(188, 143, 231, 0.647);
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: .2rem;
    align-items: center;
}



.allEvents{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.allEvents .allEventsHeading{
    font-size: 3.4rem;
    color: darkred;
    text-align: justify;
    width: 100%;
    padding: 1.5rem;
    font-weight:bold;
}




