.note{
   width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.noteHeading{
    font-size: 2.8rem;
    color: darkred;
    font-weight: bold;

}
.noteImg{
    width: 8rem;
    height: 8rem;
    object-fit: cover;

}
.noteText{
    font-size: 1.2rem;
    color: black;
    display: flex;
    /* align-items: center; */
    gap: 1rem;
    text-align: justify;
    word-wrap: break-word;
    
}