.cardsMarquee-container {
  width: 85%;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  border-radius: 12px;
}

.cardsMarquee {
  display: flex;
  width: 100%; 
  cursor: pointer;
}

.cardMarquee {
  width: 15rem;
  height: 12rem;
  border-radius: 8px;
  background-color: rgba(232, 230, 230, 0.918);
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  flex-shrink: 0;
  border: 0.7px solid lightgray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardMarquee h1 {
  margin: 0;
  font-size: 1.4rem;
  color: darkred;
  font-family: 'Roboto','sans-serif';
  font-weight: bold;
}
.cardMarquee h2{
  font-size: 1rem;
  font-family: 'Roboto','sans-serif';
  
}

.cardMarquee button {
  background-color:darkred;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardMarquee:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Increased shadow for a surface-like effect */
}

.cardMarquee button:hover {
  background-color: darkgray;
}
