.contact{
    width: 100%;
    height:calc(100vh - 3.4rem) ;
    max-height: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,rgba(55, 2, 2, 0.95),rgba(136, 8, 8, 0.915));
    padding: 2rem;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.contactInfoBtn{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    display: flex;
    gap: 0.3rem;
    background:white;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.contactInfoBtn .contactInfoImg{
    width: 1.5rem;
    height: 1.5rem;
}
.contactCon{
    width: 90%;
    min-height: 100%;
    height: auto;
    display:flex;
    align-items: center;
    gap: 1.4rem;
    justify-content: space-between;

}
.contactHeading{
    font-size: 2.4rem;
    color: darkred;
    font-weight: bolder;
    text-align: left;
}
.contactForm{
    width: 50%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.4rem 0;
    background: white;
    /* box-shadow: ; */

}
.contactForm .contactInput{
    width: 90%;
    border-radius: 4px;
    background: lightgray;
    color:black;
    font-weight: bold;
    padding: 0.6rem;
    display: flex;
    justify-content: space-around;
    border: none;
    outline: none;
    font-family: "Lato", sans-serif;
}
.contactServices{
    width: 80%;
    color: white;
    border-radius: 14px;
    background: #000;

}
.contactServices option{
    background: darkred;
    color: white;
    padding: 0.3rem;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
   
}
.contactInput:hover{
    background: darkred;
}
.contactImg{
   width: 50%;
   height: 90%;
   display: flex;
   align-items: center;
   justify-content: center;

}
.contactMessage{
    width: 80%;
    height: 8rem;
    background: darkred;
    font-size: 1.2rem;
    color: white;
    font-family: "Roboto", sans-serif;


}
.contactBtn{
padding: 0.6rem 1rem;
color: white;
background: darkred;
border-radius: 12px;
outline: none;
border: none;
}
.contactBtn:hover{
    background:rgba(167, 6, 6, 0.885);
    cursor: pointer;
}
.contactImg .img{
    height: 100%;
    width: 100%;
    background-image: url('/images/contactImg.png');
    background-position: center;
    background-size: 100% 100%;
    
}



@media (max-width:968px) and (min-width:200px) {
    .contact{
        min-height: 65rem;

    }
    .contactCon{
        height: 100%;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        
    }
    .contactForm{
        height: 65%;
        width: 80%;

    }
    .contactImg{
        width: 80%;
        height: 35%;
    }
}