.container {
  width: 90%;
  height: 36rem;
  margin: 0 auto;
  
}

.eventHeading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: darkred;
  text-align: justify;
}


.swiper_container {
  height: 100% !important;
  width: 100% !important;

}

.eventSliderCard{
  width: 22rem;
  height: 33rem;
  background: darkred;
  display: flex;
  flex-direction: column;
}

