.adminContactRow{
    width:80%;
    height: 6rem;
    background: darkred;
}
.adminContacDetail{
    display: flex;
    gap: .6rem;
}
.adminContacDetail .adminContacDetailBox{
    width: 24%;
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: .8rem;
    color: white;
    font-family: 'Roboto','sans-serif';
}
 .adminContacDetailBox .detailBoxIcon{
    font-size: 1rem;
    color: lightskyblue;
 }
 .adminContactQuery{
    font-size: 1.8rem;
    color: white;
    font-family: 'Roboto','sans-serif';
    padding: .6rem;
 }
 .adminContacMessage{
    font-size: 1.2rem;
    color: white;
    font-family: 'Open-sans','sans-serif';
    
 }
