.home{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.campusDet{
    width: 90%;
    margin: 0 auto;
    min-height:36rem;
    height: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: 2rem;
 
}

@media (max-width:968px) and (min-width:200px) {
    .campusDet{
        flex-direction: column;
    }
    .homeCamLife{
        width: 100%;
        padding: 0;
       
    }
    .homeCamLife h1{
        font-size: 3.8rem;
    }
    .homeCamLifeDes{
        font-size: 1.8rem;
    }
    .homeGallery{
        width: 100%;
        padding:3rem;
    }
    
}
